{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dynamic APIs {% endblock title %}

{% block content %}
<!-- [ Main Content ] start -->
<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">
                                <a href="/">Home</a>
                            </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dynamic_api' %}">Dynamic API</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->


        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ Typography ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            Available Routes - defined in <strong>settings.DYNAMIC_API</strong> - Read <a target="" href="https://app-generator.dev/docs/developer-tools/dynamic-api.html">Documentation</a>.
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for link in routes %}
                                <li>
                                    <a href="{% url "model_api" link %}">{{ link }}</a>
                                </li>    
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock content %}


{% block extra_js %}

<!-- ADD JS Here -->

{% endblock extra_js %}