# True for development, False for production
DEBUG=True

# Deployment SERVER address
SERVER=.appseed.us

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# If present, the SignIN exposes the Github Login Button
# GITHUB_ID=<YOUR_GITHUB_ID>
# GITHUB_SECRET=<YOUR_GITHUB_SECRET>

# For MySql Persistence
# DB_ENGINE=mysql
# DB_NAME=appseed_db
# DB_HOST=localhost
# DB_PORT=3306
# DB_USERNAME=appseed_db_usr
# DB_PASS=<STRONG_PASS>
