{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <!--[ daily sales section ] start-->
    <div class="col-md-6 col-xl-4">
      <div class="card daily-sales">
        <div class="card-block">
          <h6 class="mb-4">Daily Sales</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                  class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                999.99</h3>
            </div>

            <div class="col-3 text-right">
              <p class="m-b-0">67%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;"
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--[ daily sales section ] end-->
    <!--[ Monthly  sales section ] starts-->
    <div class="col-md-6 col-xl-4">
      <div class="card Monthly-sales">
        <div class="card-block">
          <h6 class="mb-4">Monthly Sales</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                  class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$
                  999.99</h3>
            </div>
            <div class="col-3 text-right">
              <p class="m-b-0">36%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
              aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--[ Monthly  sales section ] end-->
    <!--[ year  sales section ] starts-->
    <div class="col-md-12 col-xl-4">
      <div class="card yearly-sales">
        <div class="card-block">
          <h6 class="mb-4">Yearly Sales</h6>
          <div class="row d-flex align-items-center">
            <div class="col-9">
              <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                  class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$
                  999.99</h3>
            </div>
            <div class="col-3 text-right">
              <p class="m-b-0">80%</p>
            </div>
          </div>
          <div class="progress m-t-30" style="height: 7px;">
            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
    <!--[ year  sales section ] end-->
    <!--[ Recent Users ] start-->
    <div class="col-xl-12 col-md-12">
      <div class="card Recent-Users">
        <div class="card-header">
          <h5>Recent Users</h5>
        </div>
        <div class="card-block px-0 py-3">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr class="unread">
                  <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                      alt="activity-user">
                  </td>
                  <td>
                    <h6 class="mb-1">Isabella Christensen</h6>
                    <p class="m-0">Lorem Ipsum is simply…</p>
                  </td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11
                      MAY 12:56</h6>
                  </td>
                  <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                      class="label theme-bg text-white f-12">Approve</a>
                  </td>
                </tr>
                <tr class="unread">
                  <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-2.jpg' %}"
                      alt="activity-user">
                  </td>
                  <td>
                    <h6 class="mb-1">Mathilde Andersen</h6>
                    <p class="m-0">Lorem Ipsum is simply text of…</p>
                  </td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY
                      10:35</h6>
                  </td>
                  <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                      class="label theme-bg text-white f-12">Approve</a>
                  </td>
                </tr>
                <tr class="unread">
                  <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-3.jpg' %}"
                      alt="activity-user">
                  </td>
                  <td>
                    <h6 class="mb-1">Karla Sorensen</h6>
                    <p class="m-0">Lorem Ipsum is simply…</p>
                  </td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>9 MAY
                      17:38</h6>
                  </td>
                  <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                      class="label theme-bg text-white f-12">Approve</a>
                  </td>
                </tr>
                <tr class="unread">
                  <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                      alt="activity-user">
                  </td>
                  <td>
                    <h6 class="mb-1">Ida Jorgensen</h6>
                    <p class="m-0">Lorem Ipsum is simply text of…</p>
                  </td>
                  <td>
                    <h6 class="text-muted f-w-300"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>19
                      MAY
                      12:56</h6>
                  </td>
                  <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                      class="label theme-bg text-white f-12">Approve</a>
                  </td>
                </tr>
                <tr class="unread">
                  <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-2.jpg' %}"
                      alt="activity-user">
                  </td>
                  <td>
                    <h6 class="mb-1">Albert Andersen</h6>
                    <p class="m-0">Lorem Ipsum is simply dummy…</p>
                  </td>
                  <td>
                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>21
                      July 12:56</h6>
                  </td>
                  <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a><a href="#!"
                      class="label theme-bg text-white f-12">Approve</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--[ Recent Users ] end-->

  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}