{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <form class="card-body text-center">

        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4">Password Reset Complete</h3>

        <div class="input-group mb-3">
          Your password has been reset successfully. You can now login with the new password.
        </div> 
        <p class="mb-0 text-muted"><a href="{% url 'login' %}">Login</a></p>
      </form>
    </div>
  </div>
</div>

<label class="d-none">
  <i class="icon feather icon-sun" id="theme-indicator"></i>
  <input type="checkbox" id="theme-switch" class="d-none">
</label>

{% endblock content %}