{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Hello card</h5>
      </div>
      <div class="card-block">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Create Shipment</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}
