{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <form action="" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input type="text" name="url" class="form-control" placeholder="Enter your URL...">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </div>
          </form>
          <!-- Display scan result -->
          {% if scan_result %}
          <div class="alert alert-info" role="alert">
            <p>URL: {{ scan_result.url }}</p>
            <p>Scan Date: {{ scan_result.scan_date }}</p>
            <p>Detections: {{ scan_result.detections }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

{% endblock content %}
