{% load static %}

<!-- Required Js -->
<script src="{% static "assets/js/plugins/popper.min.js" %}"></script>
<script src="{% static "assets/js/plugins/simplebar.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap.min.js" %}"></script>
<script src="{% static "assets/js/fonts/custom-font.js" %}"></script>
<script src="{% static "assets/js/pcoded.js" %}"></script>
<script src="{% static "assets/js/plugins/feather.min.js" %}"></script>
<script>layout_change('light');</script>
<script>change_box_container('false');</script>
<script>layout_caption_change('true');</script>
<script>layout_rtl_change('false');</script>
<script>preset_change("preset-1");</script>
<script>layout_theme_sidebar_change('false');</script>