{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="{% url 'index' %}" class="b-brand">
        {% comment %} <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div> {% endcomment %}
        <span class="b-title">WeSecure</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'index' in segment %}active{% endif %}">
          {% if request.user.is_superuser %}
          <a href="{% url 'admin:index' %}" class="nav-link ">
          {% else %}
          <a href="{% url 'index' %}" class="nav-link ">
          {% endif %}
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span>
          </a>
        </li>
       {% admin_get_menu as app_list %}
        {% if app_list %}
          {% for app in app_list %}
            {% if app.has_perms and not app.pinned %}
              <li 
                data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
                class="nav-item pcoded-hasmenu"
              >
                <a href="javascript:" class="nav-link ">
                  <span class="pcoded-micon"><i class=" {% if app.icon %}{{ app.icon }} {% else %} feather icon-box {% endif %}"></i></span>
                  <span class="pcoded-mtext">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                </a>
                {% if app.models %}
                  <ul class="pcoded-submenu">
                    {% for model in app.models %}
                      {% if model.url %}
                        <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                          <a class="nav-link" href="{{ model.url }}">{{ model.label }}</a>
                        </li>
                      {% else %}
                        <li class="nav-item">{{ model.label }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if request.user.is_authenticated and not request.user.is_superuser %}
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>VULNERBILITY SCANNING</label>
        </li>

        <li data-username="Sample Page" class="nav-item {% if 'sample_page' in segment %}active{% endif %}"><a href="{% url 'sample_page' %}" class="nav-link"><span
          class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">
          NORMAL SCANNER</span></a>
    </li>
    <li data-username="Sample Page" class="nav-item {% if 'sample_page' in segment %}active{% endif %}"><a href="{% url 'sub_scan' %}" class="nav-link"><span
      class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">SUB DOMAIN SCANNER</span></a>
</li>

        <li data-username="Profile Page" class="nav-item {% if 'profile' in segment %}active{% endif %}"><a href="{% url 'profile' %}" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Profile
              Page</span></a>
        </li>
        <li data-username="Sample Page" class="nav-item {% if 'sample_page' in segment %}active{% endif %}"><a href="{% url 'sample_page' %}" class="nav-link"><span
              class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
              page</span></a>
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>